<div class="container">
  <h1><%= @task.title %></h1>
  <h3><%= @task.details %></h3>
  <%= link_to  "return to all tasks 🎯", tasks_path %>
  <p><%= link_to  "edit this task", edit_task_path %></p>
</div>
